<div class="container  px-8">
  <div class=" mt-24 bg-mix mb-32 flex flex-col items-center gap-12 rounded-xl p-12 md:p-24">
    <h2 class="text-center text-dark100 text-3xl md:text-5xl">Prueba la nueva Secretaria impulsada por IA</h2>
    <a href="/secretaria/app" class="text-center text-dark100 border-4 p-4 border-dark100  text-lg">GET SecretarIA</a>
  </div>
</div>


