<section class="my-32 md:my64 px-8">
    <div class="container">
      <div class="grid grid-cols-1 gap-20 md:grid-cols-2">
        <slot name="left" />
        <div class="space-content flex flex-col gap-2 justify-center">
          <slot />
        </div>
        <slot name="right" />

      </div>
    </div>
  </section>