---

const currentYear = new Date().getFullYear()
---

<footer>
  <section class=" text-white py-8 px-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Made with ❤️ by <a
          class="cursor-pointer"
          href="https://github.com/kevinjuanjacque">Kevin Juan Jacque Castillo</a
        >.
      </p>
    </div>
  </section>
</footer>
