---

const currentYear = new Date().getFullYear()
---

<footer>
  <section class=" text-white py-8 px-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Made with ❤️ by <a
          class="cursor-pointer"
          href="https://github.com/kevinjuanjacque">Kevin Juan Jacque Castillo</a
        >. Uilizamos el gran template de <a href="https://github.com/markteekman/accessible-astro-starter/blob/main/README.md">Markteekman</a>
      </p>
    </div>
  </section>
</footer>
