---

const { src = '/astronaut-hero-img.webp' } = Astro.props
---

<section class="h-[85vh] text-white flex flex-col justify-center items-center  container">
  <div class="mx-auto  px-8">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl font-bold">
          <slot>
          <span class=" bg-mix bg-clip-text text-transparent">SecretarIA</span> Asistente for you ♥️</slot>
        </h1>
        <div class="flex flex-col justify-center items-center gap-3 min-[500px]:flex-row">
          <a class="has-icon bg-mix px-2 py-2 rounded-sm font flex gap-1 font-semibold" href="/secretaria/app">
            Get SecretarIA <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-send-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z" /><path d="M6.5 12h14.5" /></svg>
          </a>
          <a
            class="button has-icon color-secondary  px-2 py-1 rounded-sm flex gap-2 justify-center items-center"
            href="https://github.com/kevinjuanjacque/secretarIA"
          >
          Star on GitHub <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-star"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg> 
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>


